<!DOCTYPE html>
<html>
  <head>
    <title>WREPIT</title>
    <%# <link rel="icon" href="app/javascript/components/images/logo.png" type="image/icon WREPIT"> %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= action_cable_meta_tag %>
  </head>
    <body>
      <%= yield %>
    </body>
</html>
